# Ignore datasets
Smart Doctor/Data_Sets/
*.csv
*.__pycache__

# Ignore CSV files
*.csv

Smart Doctor/disease_prescription.json

# Ignore trained models
*.pkl
*.joblib
*.h5

# Ignore virtual environment
venv/
__pycache__/

# Ignore images generated
*.png

# Ignore OS files
.DS_Store
Thumbs.db

